﻿@{
    ViewBag.Title = "MainMenu";
}

<div class="jumbotron">
    <h1>Peer Review</h1>
    <p class="lead">Welcome to Peer Review Website.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Homework/Index">
            <h2>CSCI4712</h2>
            <p>
                Spring 2018
            </p>
        </a>
    </div>

    @foreach (var m in Model.CourseView)
    {
        <div class="col-md-4">
            <a href="~/Home/NewCourse">
                <h2>@m.CourseName</h2>
                <p>
                    @m.Term
                </p>
            </a>
        </div>
    }
    
</div>