﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Processing</h1>
    <p class="lead">
        Your new course page will be prepared in 24 hours.<br />
        <a href="mailto:cjiang@augusta.edu">Please contact administraor if your new course page has not been prepared in 24 hours.</a>
    </p>
</div>
